<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Discoverify</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    Watchtower 4
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 205 }' th:each="artist: ${newArtists}">
        <div class="grid-item" th:if="${#lists.size(relatedArtist.images)} > 0" th:each="relatedArtist: ${artist.value}" style="padding-top: 2px; padding-bottom: 2px;">
            <a th:href="@{${relatedArtist.uri}}">
                <img class="img-thumbnail"  th:src="${relatedArtist.images[0].url}" th:title="${relatedArtist.name} + ' is similar to ' + ${artist.key.name} + '(' + ${relatedArtist.popularity} + ')'" style="width: 200px; height: auto; border: 0 none; box-shadow: none; "></img>
            </a>
        </div>
    </div>

</body>
</html>
